header {
  font-family: Helvetica, sans-serif;
}
.subtitle {
  color:#387894
}
#masthead {
   text-align: center;
}

.thumbnail {
  width: 150px;
  height: 100px;
}

.logo {
  width: 300px;
  height: 300px;
}
